[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rendustarsgit
[access "refs/for/refs/*"]
	read = group user/rendustarsgit
	push = group user/rendustarsgit
	label-Code-Review = -2..+2 group user/rendustarsgit
	label-Verified = -1..+1 group user/rendustarsgit
	rebase = group user/rendustarsgit
	removeReviewer = group user/rendustarsgit
	submit = group user/rendustarsgit
[access "refs/heads/*"]
	read = group user/rendustarsgit
	create = group user/rendustarsgit
	push = +force group user/rendustarsgit
	pushMerge = group user/rendustarsgit
[access "refs/tags/*"]
	push = +force group user/rendustarsgit
	pushTag = group user/rendustarsgit
	pushSignedTag = group user/rendustarsgit
